// Imports

@import '../../MediaSCSS/Variables.scss';
@import '../../MediaSCSS/Breakpoints.scss';

// Media


@include notebook {
    .header_main{
        .header_main_elements{
            .header_nav_main{
                .router_text{
                    font-size: 12px;
                }
            }
        }
    }
}

@include Ipad_pro {
    .header_main{
        .header_main_elements{
            .header_nav_main{
                display: none;
            }
            .burger_div_block {
                display: block;
            }
        }
    }
}