// Templates

%valid_invalid_text {
    .invalid_text {
        color: rgb(240, 0, 0);
        font-size: 12px;
        margin: 0px;
        font-weight: 600;

        .invalid_valid_text {
            margin-left: 12px;
        }
    }

    .valid_text {
        visibility: hidden;
        font-size: 12px;
        margin: 0px;

        .invalid_valid_text {
            margin-left: 12px;
        }
    }
}

%popupStyle {
    .close_button {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .popup_text_div {
        .thx_title {
            color: #12724F;
            font-family: Bokonique;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }

        .popup_text {
            color: #1D2130;
            font-family: Bokonique;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 20px 0px 20px 0px;
            text-align: center;
        }
    }

    .correct {
        display: flex;
        justify-content: center;
        align-items: center;

        .correct_circle {
            position: relative;
        }

        .correct_middle_vector {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }
}


// Style

.contact_main {
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;
    // position: relative;

    .popup_main_hidden {
        border-radius: 20px;
        background: #FFF;
        position: absolute;
        top: -150%;
        padding: 60px;
        border: 1px gray solid;
        transition: all 1s ease-out;
        z-index: 3;
        @extend %popupStyle;
    }

    .popup_main {
        border-radius: 20px;
        background: #FFF;
        position: absolute;
        top:10%;
        padding: 60px;
        border: 1px gray solid;
        transition: all 1s ease-out;
        z-index: 3;
        @extend %popupStyle;

    }

    .contact_main_elements {
        display: flex;
        justify-content: space-between;
        width: 100vw;

        .contact_left_part {

            .contact_left_part_text_div {
                width: 40vw;
                margin-left: 93px;
                margin-bottom: 0px;

                .contact_left_part_text {
                    color: #1E1E1E;
                    font-family: Bokonique;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .contact_left_part_map_and_decor {
                position: relative;

                .contact_map {
                    position: relative;
                    z-index: 2;
                }

                .contact_map_decor {
                    position: absolute;
                    top: 52%;
                    left: 3%;
                    z-index: 1;
                }
            }
        }



        .contact_right_part {
            width: 40vw;

            .contact_right_part_title {
                color: #12724F;
                font-family: Bokonique;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                font-variant: all-small-caps;
            }

            .contact_right_part_contact_div {
                display: flex;
                flex-direction: column;

                .contact_right_part_input {
                    width: 30vw;
                    height: 30px;
                    border: none;
                    padding: 25px 0px 25px 35px;
                    margin: 20px 0px 2px 0px;
                    border-radius: 14px;
                    background: #D9D9D9;
                    color: rgba(25, 40, 65, 0.60);
                    font-family: Bokonique;
                    font-size: 17.325px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    outline: none;
                }

                @extend %valid_invalid_text;

                .contact_right_part_textarea {
                    width: 30vw;
                    resize: vertical;
                    min-height: auto;
                    border: none;
                    padding: 25px 0px 25px 35px;
                    margin: 20px 0px 20px 0px;
                    border-radius: 14px;
                    background: #D9D9D9;
                    color: rgba(25, 40, 65, 0.60);
                    font-family: Bokonique;
                    font-size: 17.325px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    outline: none;
                }
            }

            .contact_right_part_snd_msg_button {
                display: inline-flex;
                padding: 20px 70px 20px 66px;
                margin: 25px 0px 25px 0px;
                height: 65px;
                align-items: center;
                border-radius: 14px;
                background: #12724F;
                color: #FFF;
                font-family: Bokonique;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: 2px #12724F solid;
                cursor: pointer;
                transition: all 300ms ease-out;
            }

            .contact_right_part_snd_msg_button:hover {
                color: #12724F;
                background: #FFF;
            }
        }
    }

}