.home_welcome_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F9FF;
    padding-bottom: 30px;

    .home_welcome_elements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85vw;
        padding: 100px;
        position: relative;

        .home_welcome_left_part {
            .home_welcome_title {
                color: #12724F;
                font-family: 'Bokonique';
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .home_welcome_text {
                color: #1E1E1E;
                font-family: Bokonique;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 541px;
                height: 70px;
                flex-shrink: 0;
            }

            .router_text {
                text-decoration: none;

                .home_welcome_see_more {
                    display: inline-flex;
                    padding: 20px 39px 20px 37px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 14px;
                    border: 0px white solid;
                    background: #12724F;
                    font-family: Bokonique;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: #FFFFFF;
                    cursor: pointer;
                    border: 2px #12724F solid;
                    transition: all 300ms ease-out;
                    user-select: none;
                }
                .home_welcome_see_more:hover {
                    color: #12724F;
                    background: #FFF;
                }
            }


        }

        .home_welcome_right_part {
            position: relative;

            .home_welcome_main_image {
                width: 500px;
                height: 330px;
                background-image: url("../../../../images_icons/welcome_main_image.png");
                background-size: cover;
                object-fit: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 14px;
                flex-shrink: 0;
                position: relative;
                z-index: 2;
            }

            .home_welcome_image_decor {
                position: absolute;
                top: 80%;
                left: 85%;
                transform: translate(-50%, -50%);
                width: 366px;
                height: 366px;
                flex-shrink: 0;
                padding: 0;
                margin: 0;
                border-radius: 366px;
                z-index: 1;
            }

        }
    }
}