.product_nav_flex {
    display: flex;
    justify-content: center;
    align-items: center;

    .product_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // width: 60vw;
        .router_text {
            text-decoration: none;
            color: #1E1E1E;
            font-family: Bokonique;
            // font-style:unset;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 15px;
        }
    }
}