// Templates


%valid_invalid_text {
    .invalid_text {
        color: rgb(240, 0, 0);
        font-size: 12px;
        margin: 0px;
        font-weight: 600;

        .invalid_valid_text {
            margin-left: 12px;
        }
    }

    .valid_text {
        visibility: hidden;
        font-size: 12px;
        margin: 0px;

        .invalid_valid_text {
            margin-left: 12px;
        }
    }
}


%order_call_style {
    .order_call_elements {
        width: 40vw;
        // padding: 50px;

        .close_button {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            padding-top: 30px;
        }

        .order_call_title {
            color: #12724F;
            font-family: Bokonique;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
            margin: 8px 0px 8px 0px;
        }

        .order_call_inputs {
            .name_surname_inputs {
                display: flex;
                justify-content: space-between;
                padding: 10px 0px 10px 0px;

                .name_surname_input {
                    border-radius: 14px;
                    background: rgba(217, 217, 217, 0.85);
                    color: #000;
                    font-family: Bokonique;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    padding: 20px 0px 20px 30px;
                    border: none;
                    outline: none;
                    width: 17vw;
                }

                @extend %valid_invalid_text;
            }

            .tel_input {
                border-radius: 14px;
                background: rgba(217, 217, 217, 0.85);
                color: #000;
                font-family: Bokonique;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                width: calc(40vw - 20px);
                border: none;
                outline: none;
                padding: 20px 0px 20px 20px;
                margin: 10px 0px 10px 0px;
            }

            @extend %valid_invalid_text;

            .service_name_input {
                border-radius: 14px;
                background: rgba(217, 217, 217, 0.85);
                resize: vertical;
                min-height: 250px;
                color: #000;
                font-family: Bokonique;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                width: calc(40vw - 20px);
                line-height: normal;
                padding: 20px 0px 20px 20px;
                margin: 10px 0px 10px 0px;
                border: none;
                outline: none;
            }

            @extend %valid_invalid_text;
        }

        .order_call_btn_div {
            display: flex;
            justify-content: center;
            padding: 10px 0px 30px 0px;

            .order_call_btn {
                display: inline-flex;
                height: 62px;
                padding: 21px 74px 21px 67px;
                align-items: center;
                flex-shrink: 0;
                border-radius: 14px;
                background: #12724F;
                color: #FFF;
                font-family: Bokonique;
                font-size: 16.475px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: 2px #12724F solid;
                transition: all 300ms ease-out;
                cursor: pointer;
            }

            .order_call_btn:hover {
                background: #FFF;
                color: #12724F;
            }
        }

    }
}

%popupStyle {
    .close_button {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .popup_text_div {
        .thx_title {
            color: #12724F;
            font-family: Bokonique;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }

        .popup_text {
            color: #1D2130;
            font-family: Bokonique;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 20px 0px 20px 0px;
            text-align: center;
        }
    }

    .correct {
        display: flex;
        justify-content: center;
        align-items: center;

        .correct_circle {
            position: relative;
        }

        .correct_middle_vector {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }
}


// Style

.services_main {
    position: relative;


    .popup_main_hidden {
        width: 50vw;
        border-radius: 20px;
        background: #FFF;
        position: absolute;
        top: -150%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 60px;
        border: 1px gray solid;
        transition: all 1s ease-out;
        z-index: 3;
        @extend %popupStyle;
    }

    .popup_main {
        width: 50vw;
        border-radius: 20px;
        background: #FFF;
        position: absolute;
        top:5%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 60px;
        border: 1px gray solid;
        transition: all 1s ease-out;
        z-index: 3;
        @extend %popupStyle;

    }

    .order_call_main_hidden {
        position: absolute;
        top: -150%;
        left: 50%;
        transform: translate(-50%, 0%);
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        border-radius: 20px;
        background: hsl(0, 0%, 100%);
        border: 1px gray solid;
        transition: all 1s ease-out;
        z-index: 3;

        @extend %order_call_style;
    }

    .order_call_main {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        border-radius: 20px;
        background: hsl(0, 0%, 100%);
        border: 1px gray solid;
        transition: all 1s ease-out;
        z-index: 3;

        @extend %order_call_style;
    }

    .services_first_aside_flex {
        display: flex;
        justify-content: center;
        align-items: center;

        .services_first_aside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90vw;

            .services_title_text_button {
                width: 40vw;

                .services_title {
                    color: #12724F;
                    font-family: Bokonique;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .services_text {
                    color: #1E1E1E;
                    font-family: Bokonique;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px 0px 10px 0px;
                }

                .services_button {
                    display: inline-flex;
                    padding: 20px 16px 20px 22px;
                    justify-content: flex-end;
                    align-items: center;
                    border-radius: 14px;
                    background: #12724F;
                    border: 2px #12724F solid;
                    transition: all 300ms ease-out;
                    cursor: pointer;
                    color: #FFF;
                    font-family: Bokonique;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .services_button:hover {
                    background: #FFF;
                    color: #12724F;
                }

            }

            .services_first_img_and_decor {
                position: relative;
                width: 40vw;
                padding: 150px 0px 150px 0px;

                .services_first_ster_img {
                    position: relative;
                    z-index: 2;
                }

                .services_first_decor {
                    position: absolute;
                    top: 75%;
                    left: 77%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }



    .services_second_aside_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px 150px 0px;

        .services_second_aside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90vw;

            .services_second_img_and_decor {
                position: relative;
                width: 40vw;
                padding: 150px 0px 150px 0px;

                .services_second_ster_img {
                    position: relative;
                    z-index: 2;
                }

                .services_second_decor {
                    position: absolute;
                    top: 75%;
                    left: 20%;
                    transform: translate(-50%, -50%);
                }
            }

            .services_title_text_button {
                width: 40vw;

                .services_title {
                    color: #12724F;
                    font-family: Bokonique;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .services_text {
                    color: #1E1E1E;
                    font-family: Bokonique;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px 0px 10px 0px;
                }

                .services_button {
                    display: inline-flex;
                    padding: 20px 16px 20px 22px;
                    justify-content: flex-end;
                    align-items: center;
                    border-radius: 14px;
                    background: #12724F;
                    border: 2px #12724F solid;
                    transition: all 300ms ease-out;
                    cursor: pointer;
                    color: #FFF;
                    font-family: Bokonique;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .services_button:hover {
                    background: #FFF;
                    color: #12724F;
                }

            }


        }
    }
}