// Imports

@import '../../../../MediaSCSS/Variables.scss';
@import '../../../../MediaSCSS/Breakpoints.scss';

// Media


@include notebook {
    .home_contact_main {
        .popup_main {
            width: 50vw;

            .popup_text_div {
                .thx_title {
                    font-size: 30px;
                }

                .popup_text {
                    font-size: 22px;
                }
            }
        }

        .popup_main_hidden {
            width: 50vw;
        }

        .home_contact_main_elements {
            display: block;
            text-align: center;

            .home_contact_left_part_map_and_decor {
                display: flex;
                justify-content: center;

                .contact_map_decor {
                    display: none;
                }

            }

            .home_contact_left_part {
                .home_contact_left_part_text_div {
                    display: flex;
                    justify-content: center;
                    margin-left: 0px;
                    width: auto;

                    .home_contact_left_part_text {
                        width: 90vw;
                    }
                }

            }

            .home_contact_right_part_flex {
                display: flex;
                justify-content: center;

                .home_contact_right_part {
                    .home_contact_right_part_contact_div {
                        .home_contact_right_part_input {
                            width: 45vw;
                        }

                        .home_contact_right_part_textarea {
                            width: 45vw;
                        }
                    }

                    .home_contact_right_part_snd_msg_button {
                        display: flex;
                        justify-content: center;
                        width: calc(45vw + 35px);
                    }

                }
            }

        }
    }
}