.home_contact_main {
    padding: 100px;

    .home_contact_main_elements {
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        // width: 100vw;

        .home_contact_left_part {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // flex-direction: column;
            // width: 40vw;
            // height: 50vh;

            .home_contact_left_part_text_div {
                width: 40vw;
                margin-left: 93px;
                margin-bottom: 0px;

                .home_contact_left_part_text {
                    color: #1E1E1E;
                    font-family: Bokonique;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

//                         .home_contact_left_part_map_and_decor{

//             .home_contact_map{
//                 // width: 40vw;
// //                 border-radius: 14px;
// // background: url(<path-to-image>), lightgray 50% / cover no-repeat;
// box-shadow: 0px 12px 200px 0px rgba(0, 0, 0, 0.25);
//             }
//             }
        }



        .home_contact_right_part {
            .home_contact_right_part_title {
                color: #12724F;
                font-family: Bokonique;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                font-variant: all-small-caps;
            }

            .home_contact_right_part_contact_div {
                display: flex;
                // justify-content: space-between;
                // align-items: center;
                flex-direction: column;

                // height: calc(auto + 100px);
                .home_contact_right_part_input {
                    width: 25vw;
                    height: 30px;
                    // padding-left: 40px;
                    border: none;
                    padding: 20px 0px 20px 35px;
                    margin: 25px 0px 25px 0px;
                    border-radius: 14px;
                    background: #D9D9D9;
                    color: rgba(25, 40, 65, 0.60);
                    font-family: Bokonique;
                    font-size: 17.325px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    outline: none;
                }

                .home_contact_right_part_textarea {
                    width: 25vw;
                    // height: 30px;
                    // padding-left: 40px;
                    // min-width:min-content;
                    resize: vertical;
                    min-height: auto;
                    border: none;
                    padding: 20px 0px 20px 35px;
                    margin: 25px 0px 25px 0px;
                    border-radius: 14px;
                    background: #D9D9D9;
                    color: rgba(25, 40, 65, 0.60);
                    font-family: Bokonique;
                    font-size: 17.325px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    outline: none;
                }
            }

            .home_contact_right_part_snd_msg_button {
                display: inline-flex;
                padding: 20px 70px 20px 66px;
                align-items: center;
                border-radius: 14px;
                background: #12724F;
                color: #FFF;
                font-family: Bokonique;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;
            }
        }
    }

}