.websiteEnd_main {
    .websiteEnd_text {
        color: #FFF;
        font-family: Bokonique;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        // line-height: 124%;
        background-color: #12724F;
        /* 17.36px */
        font-variant: all-small-caps;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
}